body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #081b29; /* Entire background color */
    color: #fff; /* Default text color for better readability */
}

header {
    background: #081b29; /* Match the overall background color */
    color: #fff;
    padding: 10px 90px;
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: flex-end; /* Align items to the right */
}

nav ul li {
    margin: 0 15px; /* Add margin between the items */
}

nav ul li a {
    color: #f5f7f9;
    text-decoration: none;
}

nav ul li a h3 {
    margin: 0;
}

#Home {
    text-align: left;
    padding: 90px 90px;
    background-color: #081b29; /* Match the overall background color */
}

#Home h1 {
    font-size: 4em; /* Large font size */
    color: white; /* White color for h1 */
    margin: 0;
}

#Home p {
    font-size: 2em; /* Large font size for p */
    color: #0a5370; /* Sky blue color for p */
    margin: 10px 0 0;
}

section {
    padding: 20px;
}

footer {
    background: #081b29; /* Match the overall background color */
    color: #fff; /* White color for footer text */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center align the items */
    }
    
    nav ul li {
        margin: 5px 0;
    }
}
